.margin {
    margin-top: 5.0rem;
}

.heading1 {
    font-size: 2.2vw;
    font-weight: 900 !important;
    color: #4D4D4D;
    margin-bottom: 1vw !important;
}

.bgDiv {
    background: linear-gradient(to right, #00AEE1, #00DDC6);
    width: 100%;
    height: 26vw;
    max-height: 350%;
    border-bottom-left-radius: 7.0rem;
    border-top-left-radius: 7.0rem;
    transition: 300ms linear;
    bottom: 0;
    right: 0;
}

.computer {
    width: auto;
    height: 26vw;
    transition: 300ms linear;
}

.divRelative {
    margin-top: -3.5vw !important;
}

.ChartScreen,
.DataScreen,
.FeedScreen,
.TradersScreen {
    width: auto;
    height: 22.6vw;
    position: absolute;
    border-radius: 1rem;
    bottom: 2.5vw;
    right: 0;
    left: 0;
    transition: 300ms linear;
    opacity: 1;
    animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button1 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 7vw;
    width: 15vw;
    position: absolute;
    top: 4vw;
    left: 10.7vw;
    transition: 300ms linear;
    border-bottom-left-radius: 5vw;
    border-top-left-radius: 5vw;
}

.button2 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 7vw;
    width: 15vw;
    position: absolute;
    bottom: 4vw;
    left: 10.7vw;
    transition: 300ms linear;
    border-bottom-left-radius: 5vw;
    border-top-left-radius: 5vw;
}

.button3 {
    vertical-align: middle;
    text-align: center;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 8vw;
    width: 15vw;
    position: absolute;
    border-radius: .7rem;
    top: 4vw;
    right: 10.7vw;
    transition: 300ms linear;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
}

.button4 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 7vw;
    width: 15vw;
    position: absolute;
    bottom: 4vw;
    right: 10.7vw;
    transition: 300ms linear;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
}

.button1:focus, .button2:focus {
    transform: scale(1.2);
    color: #4D4D4D;
    background: linear-gradient(to right, rgb(237, 237, 237, 1)97%, black);
}

.button3:focus, .button4:focus {
    transform: scale(1.2);
    color: #4D4D4D;
    background: linear-gradient(to left, rgb(237, 237, 237, 1)97%, black);
}

.focus4 {
    transform: scale(1.2);
    color: #4D4D4D;
    background: linear-gradient(to left, rgb(237, 237, 237, 1)97%, black);
}

@media (min-width: 992px) {

    .height {
        height: 45vw
    }
}

@media (min-width: 1200px) {
    .backgroundImage {
        width: 46vw
    }
}

@media (max-width: 1500px) {

    .divRelative {
        margin-top: -6vw !important;
    }

}

@media (max-width: 995px) {
    .bgDiv {
        height: fit-content;
    }

    .button1,
    .button2,
    .button3,
    .button4 {
        width: 60%;
        height: auto;
        position: relative;
        margin-bottom: 1rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .button1:focus,
    .button2:focus,
    .button3:focus,
    .button4:focus,
    .focus4 {
        background: transparent;
    }

    .divRelative {
        margin-top: 0 !important;
    }
}

/* 
.button3 {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.3vw;
    font-weight: 900;
    padding-left: 1.0rem;
    text-align: center;
    width: 23.0rem;
    height: 15.0rem;
    margin-left: 63.0rem;
    margin-top: 1.0rem;
    position: absolute;
    transition: 300ms linear;
} */

/* .button4 {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.3vw;
    font-weight: 900;
    padding-left: 1.0rem;
    text-align: center;
    width: 23.0rem;
    height: 15.0rem;
    margin-left: 63.0rem;
    margin-top: 17.0rem;
    position: absolute;
    transition: 300ms linear;

} */















/* .margin {
    margin-top: 5.0rem;
    margin-bottom: 5.0rem;
}

.heading1 {
    font-size: 3.5rem;
    font-weight: 900 !important;
    color: #4D4D4D;
    margin-bottom: 2.0rem !important;
}

.bgDiv {
    background: linear-gradient(to right, #00AEE1, #00DDC6);
    width: 95%;
    height: 30vw;
    max-height: 350%;
    border-bottom-left-radius: 7.0rem;
    border-top-left-radius: 7.0rem;
    transition: 300ms linear;
    bottom: 0;
    right: 0;
}

@media (min-width: 992px) {

    .height {
        height: 45vw
    }
}

@media (min-width: 1200px) {
    .backgroundImage {
        width: 46vw
    }
}

.computer {
    width: auto;
    height: 26vw;
    transition: 300ms linear;
}

.ChartScreen {
    width: auto;
    height: 22.6vw;
    position: absolute;
    border-radius: 1rem;
    bottom: 2.5vw;
    right: 0;
    left: 0;
    transition: 300ms linear;
    opacity: 1;
    animation: fadeIn linear 1s;
}

.DataScreen {
    width: auto;
    height: 22.6vw;
    position: absolute;
    border-radius: 1rem;
    bottom: 2.5vw;
    right: 0;
    left: 0;
    transition: 300ms linear;
    opacity: 1;
    animation: fadeIn linear 1s;
}

.FeedScreen {
    width: auto;
    height: 22.6vw;
    position: absolute;
    border-radius: 1rem;
    bottom: 2.5vw;
    right: 0;
    left: 0;
    transition: 300ms linear;
    opacity: 1;
    animation: fadeIn linear 1s;
}

.TradersScreen {
    width: auto;
    height: 22.6vw;
    position: absolute;
    border-radius: 1rem;
    bottom: 2.5vw;
    right: 0;
    left: 0;
    transition: 300ms linear;
    opacity: 1;
    animation: fadeIn linear 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.button1 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 7vw;
    width: 15vw;
    position: absolute;
    border-radius: .7rem;
    top: 4vw;
    left: 8.5vw;
    transition: 300ms linear;
}

.button2 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 7vw;
    width: 15vw;
    position: absolute;
    border-radius: .7rem;
    bottom: 4vw;
    left: 8.5vw;
    transition: 300ms linear;
}

.button3 {
    vertical-align: middle;
    text-align: center;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 8vw;
    width: 15vw;
    position: absolute;
    border-radius: .7rem;
    top: 4vw;
    right: 8.5vw;
    transition: 300ms linear;
}

.button4 {
    text-align: center;
    vertical-align: middle;
    font-size: 1.3vw;
    border: none;
    color: white;
    font-weight: 900;
    border: none;
    background: transparent;
    height: 7vw;
    width: 15vw;
    position: absolute;
    border-radius: .7rem;
    bottom: 4vw;
    right: 8.5vw;
    transition: 300ms linear;
}

.button1:focus, .button2:focus {
    color: #4D4D4D;
    background: linear-gradient(to right, rgb(255, 255, 255, 1)97%, black);
    border-bottom-left-radius: 5vw;
    border-top-left-radius: 5vw;
}

.button3:focus, .button4:focus {
    color: #4D4D4D;
    background: linear-gradient(to left, rgb(255, 255, 255, 1)97%, black);
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
}

.focus4 {
    color: #4D4D4D;
    background: linear-gradient(to left, rgb(255, 255, 255, 1)97%, black);
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
}

@media (max-width: 1500px) {


    .button4,
    .button3 {
        right: 8.3vw;
        font-weight: 700;
        font-size: 1.3vw;
    }

    .button2,
    .button1 {
        left: 8.2vw;
        font-weight: 700;
        font-size: 1.3vw;
    }
}

@media (max-width: 1300px) {


    .button4,
    .button3 {
        right: 8.1vw;
        font-weight: 700;
        font-size: 1.3vw;
    }

    .button2,
    .button1 {
        left: 7.9vw;
        font-weight: 700;
        font-size: 1.3vw;
    }
}

@media (max-width: 900px) {
    .bgDiv {
        height: fit-content;
    }

    .button1,
    .button2,
    .button3,
    .button4 {
        width: 80%;
        height: auto;
        position: relative;
        margin-bottom: 1rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-radius: 7vw;
    }

    .button1:focus,
    .button2:focus,
    .button3:focus,
    .button4:focus,
    .focus4 {
        background: transparent;
    }
} */